In [2]:
tupla1 = ("matematica", 23, "gatos")

In [3]:
tupla1

('matematica', 23, 'gatos')

In [4]:
tupla.append('chocolate')

NameError: name 'tupla' is not defined

In [5]:
tupla1.count

In [7]:
tupla1.count(23)

1

In [8]:
tupla = ( 'Chocolate')

In [9]:
tupla

'Chocolate'

In [10]:
tupla1[0]

'matematica'

In [11]:
len(tupla1)

3

In [12]:
tupla[1:]

'hocolate'

In [13]:
tupla1[1:]

(23, 'gatos')

In [14]:
tupla1.index('gatos')

2

In [15]:
del tupla1

In [16]:
tupla1

NameError: name 'tupla1' is not defined

In [17]:
t2 = ('A','B','C')

In [18]:
t2

('A', 'B', 'C')

In [19]:
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [21]:
lista_t2 = list(t2)

In [22]:
lista_t2

['A', 'B', 'C']

In [23]:
lista_t2.append('D')

In [24]:
t2 = tuple(lista_t2)

In [25]:
t2

('A', 'B', 'C', 'D')