In [2]:
estudantes_lst = [ "Pedro",24, "Fernando", 22,"Tania" ,26 , "Cris" ,25 ]

In [3]:
estudantes_lst

['Pedro', 24, 'Fernando', 22, 'Tania', 26, 'Cris', 25]

In [10]:
estudantes_dict = {"Pedro":24, "Fernando":22, "Tania": 26, "Cris":25}

In [11]:
estudantes_dict

{'Cris': 25, 'Fernando': 22, 'Pedro': 24, 'Tania': 26}

In [12]:
estudantes_dict["Pedro"]

24

In [13]:
estudantes_dict["Pedro"] = 23

In [14]:
estudantes_dict["Pedro"]

23

In [15]:
estudantes_dict[ "Tania"]

26

In [16]:
estudantes_dict.clear()

In [17]:
estudantes_dict

{}

In [21]:
del estudantes_dict

In [19]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [22]:
estudantes = {"Pedro":24, "Fernando":22, "Tania": 26, "Cris":25}

In [23]:
estudantes

{'Cris': 25, 'Fernando': 22, 'Pedro': 24, 'Tania': 26}

In [24]:
len(estudantes)

4

In [25]:
estudantes.keys()

dict_keys(['Pedro', 'Fernando', 'Tania', 'Cris'])

In [26]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [27]:
estudantes.items()

dict_items([('Pedro', 24), ('Fernando', 22), ('Tania', 26), ('Cris', 25)])

In [28]:
estudantes2 = { "Maria":27, "Erika":28, "Milton":22}

In [29]:
estudantes2

{'Erika': 28, 'Maria': 27, 'Milton': 22}

In [30]:
estudantes.update(estudantes2)

In [31]:
estudantes

{'Cris': 25,
 'Erika': 28,
 'Fernando': 22,
 'Maria': 27,
 'Milton': 22,
 'Pedro': 24,
 'Tania': 26}

In [32]:
dic = {}

In [33]:
dic["key_one"] = 2

In [34]:
dic[10] = 5

In [35]:
dic

{'key_one': 2, 10: 5}

In [36]:
dic[8.2] = "henlo"

In [37]:
dic

{'key_one': 2, 10: 5, 8.2: 'henlo'}

In [38]:
dic["teste"] = 5

In [39]:
dic

{'key_one': 2, 10: 5, 8.2: 'henlo', 'teste': 5}

In [40]:
dict1 = {}

In [42]:
dict1

{}

In [43]:
dict1 [ "Teste"] = 10

In [44]:
dict1[ "key"] = "Teste"

In [45]:
dict1

{'Teste': 10, 'key': 'Teste'}

In [46]:
dict2 = { }

In [47]:
dict2["key1"] = "Big Data"
dict2["key2"] = 10
dict2["key3"] = 5.6

In [48]:
dict2

{'key1': 'Big Data', 'key2': 10, 'key3': 5.6}

In [49]:
a = dict2["key1"]
b = dict2["key2"]
c = dict2["key3"]

In [50]:
a,b,c

('Big Data', 10, 5.6)

In [51]:
dict3 = {'key1':1230, 'key2':[22,452,73,73.4], 'key3':['leite', 'pera','batata']}

In [52]:
dict3['key2']

[22, 452, 73, 73.4]

In [53]:
dict3['key3']

['leite', 'pera', 'batata']

In [54]:
dict3

{'key1': 1230,
 'key2': [22, 452, 73, 73.4],
 'key3': ['leite', 'pera', 'batata']}

In [55]:
dict3[ 'key3'][0].upper()

'LEITE'

In [56]:
var1 = dict3['key2'][0] - 2

In [57]:
var1

20

In [58]:
dict3['key2'][0] -= 2

In [59]:
dict3['key2'][0]

20

In [60]:
dict3

{'key1': 1230,
 'key2': [20, 452, 73, 73.4],
 'key3': ['leite', 'pera', 'batata']}

In [61]:
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'dict aninhado em Python'} }}

In [62]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'dict aninhado em Python'}}}

In [63]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'dict aninhado em Python'