# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

****** Este Jupyter Notebook foi atualizado para a versão 3.6.1 da Linguagem Python em 05/06/2017 ******

## Exercícios

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10
a=1
while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista_com_5_objetos = ["objeto_1","objeto_2","objeto_3","objeto_4","objeto_5"]
print (lista_com_5_objetos)

['objeto_1', 'objeto_2', 'objeto_3', 'objeto_4', 'objeto_5']

In [3]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = "oie"
string2 = " e olares!"
string3 = string1 + string2
print(string3)

oie e olares!

In [8]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [9]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dicionario_com_3 = {'chave1':42, 'chave2':69, 'chave3':1337}
print(dicionario_com_3)

{'chave1': 42, 'chave2': 69, 'chave3': 1337}

In [ ]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela

In [15]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
novo_arquivo = open("nomes.txt", "w")
novo_arquivo.write("Nome1, Nome2, Nome3, Nome4")
novo_arquivo.close()

In [17]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
novo_arquivo = open("nomes.txt", "r")
print(novo_arquivo.read())

Nome1, Nome2, Nome3, Nome4

In [18]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dicionario_vazio = {}
print (dicionario_vazio)

{}

In [7]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "binary.csv"
df = pd.read_csv(file_name)
#df.head()
df.tail()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>